.filter_input_custom{
	width: 50%;
	border: 1px solid #ccc;
}

.portlet {
	margin-bottom: 20px;
	border: 1px solid #e2e2e2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.portlet h4 {
	color: #333333;
	height: 20px;
	line-height: 20px;
	background-color: #F4F4F4;
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f4f4f4, #ececec);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f4f4f4, #ececec);
	background-image: -o-linear-gradient(top, #f4f4f4, #ececec);
	background-image: linear-gradient(to bottom, #f4f4f4, #ececec);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffececec', GradientType=0);
	border-bottom: 1px solid #d5d5d5;
	margin-top: auto;
	margin-bottom: auto;
	padding: 10px;
}




.slogan {
	min-height: 100px;
	background: #fafafa;
	width: 100%;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.head-form{
	width: 300px;
	margin: 50px auto;
	background: #f95252;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 16px;
	padding: 5px 5px;
}

#usuarisvga-form{
	width: 300px;
	margin: 50px auto;
	margin-top: -50px;
	padding:5px 5px;
	border-radius: 0 0 20px 20px;
	text-align: center;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.nomargin{
	margin-top: -30px;
}

.nomargin2{
	margin-top: -10px;
}

.minim{
	margin: 35px auto;
	padding: 0 0;
}
.footer{clear:both;}

.cicon-fb{
	display: block;
	background-image:url("./facebook.svg");
	background-position: 0 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.cicon-twitter{
	display: block;
	background-image:url("./twitter.svg");
	background-position: 0 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}